.Clock {
  margin-top: 20px;
}

/*.App-header {*/
/*  min-height: 10vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*}*/

